@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 90%;
}

body {
  background: #3B0CB5;
}

nav {
  background: #481ABC;
  padding: 1%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.container {
  display: flex;
  gap: 3rem;
  padding: 1.8rem;
}

.weather-input {
  width: 30%;
}
.weather-input input {
  height: 2.9rem;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  color: #471ABC;
  padding: 0 1rem;
  margin: 0.6rem 0 1.25rem 0;
  border-radius: 0.3rem;
  border: 0.06rem solid #ccc;
}
.weather-input input:focus {
  padding: 0 1rem;
  border: 0.125rem solid #FFA500;
}
.weather-input .separator {
  height: 0.05rem;
  width: 100%;
  margin: 1.8rem 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before {
  content: "or";
  font-size: 1.1rem;
  padding: 1rem 1rem;
  background: #3B0DB5;
}
.weather-input button {
  width: 100%;
  padding: 0.8rem 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  background: #ffc966;
  color: #471ABC;
  transition: 0.2s ease;
}
.weather-input button:hover {
  background: #ffa500;
}
.weather-input button.location-btn {
  background: #0092E5;
  color: #fff;
}
.weather-input button.location-btn:hover {
  background: #006299;
}

.weather-data {
  width: 100%;
  background: #481ABC;
  padding: 2rem;
  border-radius: 0.5rem;
}
.weather-data .current-weather {
  margin-bottom: 4rem;
}
.weather-data .current-weather h2 {
  font-weight: 700;
  font-size: 2rem;
}
.weather-data .current-weather .icon {
  text-align: center;
}
.weather-data .current-weather .icon img {
  max-width: 6rem;
}
.weather-data .current-weather .icon h6 {
  text-transform: capitalize;
}
.weather-data h6 {
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.weather-data .days-forecast h2 {
  margin-bottom: 1.25rem;
  font-size: 2rem;
}
.weather-data .days-forecast .weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
}
.weather-data .days-forecast .weather-cards .card {
  padding: 2rem;
  background: #0092E6;
  border-radius: 0.5rem;
}
.weather-data .days-forecast .weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.weather-data .days-forecast .weather-cards .card img {
  max-width: 4rem;
  margin: 0.3rem 0 -0.75rem 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  .weather-data .days-forecast h2 {
    font-size: 1.5rem;
  }
  .container {
    flex-wrap: wrap;
    padding: 1rem;
    gap: 0;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data {
    margin-top: 2rem;
    padding: 0;
    background: #3B0CB5;
  }
  .current-weather {
    display: grid;
    align-items: center;
    text-align: center;
  }
  .weather-data .current-weather {
    margin-bottom: 2rem;
  }
  .weather-data .days-forecast .weather-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .weather-data .days-forecast .weather-cards .card {
    padding: 2rem 1rem;
  }
  .weather-data .current-weather h2 {
    font-size: 1.5rem;
  }
  .days-forecast {
    display: grid;
    align-items: center;
    text-align: center;
  }
  .weather-data .days-forecast .weather-cards .card h3 {
    font-size: 1rem;
    margin: 0;
  }
  .weather-data .days-forecast .weather-cards .card h6 {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=styles.css.map */
